<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <title>Trang web bán sách</title>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link href="~/content/search/styles.css" rel="stylesheet" />
    <link href="~/content/style.css" rel="stylesheet" />
    <link href="~/boostrap/bootstrap.css" rel="stylesheet" />
</head>
<body> 
    <div>
        @RenderBody()
    </div>
</body>
</html>
